.HorizontalMenu {
  .active > a {
    background: none;
    color: $black;
    font-weight: 600;
  }
  li > a:hover {
    color: $black;
  }
  > li:first-child > a {
    padding-left: 0;
  }
  > li:last-child > a {
    padding-right: 0;
  }
}
.Header {
  .Header__sub-nav {
    position: relative;
    .menu {
      &.alignCenter {
        justify-content: center;
      }
      &.langMenu {
        position: absolute;
        display: flex;
        width: auto;
        height: 40px;
        align-items: center;
      }
    }
  }
}